body {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    background-color: #ffffff00;
}

#form-container {
    width: 40vw;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    padding: 250px 0 250px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 60vw;
    background: url('../images/signup1.jpg') center/cover no-repeat; /* Add your image background */
}

.logo {
    margin-bottom: 20px; /* Adjust spacing between logo and form */
}

.logo img {
    max-width: 100%; /* Ensure the logo image does not exceed its container's width */
}

#form-container label {
    font-size: larger;
}

form{
    width: 75%;
}